---
export interface Props {
	timePeriod: string;
	subject: string;
	place: string;
	detail: string;
}

const { timePeriod, subject, place, detail } = Astro.props;
---

<div class="m-2 mlg:col-span-1 col-span-2">
	<div class="w-full px-2 py-3 rounded-md shadow-md border-solid border-2 border-bright-green flex flex-col items-start">
		<div class="px-2 py-1 rounded-md text-white bg-bright-green">{timePeriod}</div>
		<div class="text-3xl text-dark-green">{subject}</div>
		<div class="text-red-500 text-xl">{place}</div>
		<div class="text-dark-gray text-xl font-mono">
			{detail}
		</div>
	</div>
</div>

