---
import { SEO } from 'astro-seo';
import { inject } from '@vercel/analytics'

export interface Props {
	title: string;
}

const { title } = Astro.props;

inject()

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO
			title='Yimnaidev Web development portfolio'
			description='Welcome to my web development portfolio, where I showcase my expertise in creating dynamic and engaging websites using HTML, CSS, JavaScript, Sass, TypeScript, TailwindCSS, Angular, NestJS, MySQL, PostgreSQL, Sanity.io, and Supabase. With a strong foundation in front-end development and a deep understanding of the latest web development frameworks and technologies, I am well-equipped to deliver top-notch solutions that are both functional and visually stunning. From responsive design to seamless database integration, I am committed to creating websites that are fast, intuitive, and optimized for search engines. So whether you are looking for a custom-built e-commerce platform, a sleek and modern blog, or a robust web application, I am here to help. Browse my portfolio today and see how I can help you take your online presence to the next level'
			openGraph={{
				basic: {
					title: 'Yimnaidev Web development portfolio',
					type: 'profile',
					image: 'https://res.cloudinary.com/dk8pow3el/image/upload/v1680811450/portfolio_site_preview_yjdgbv.png',
				}
			}}
			twitter={{
				creator: '@yimnai_dev'
			}}
			extend={{
				link: [{rel: 'icon', href: '/yimla_logo.svg'}],
				meta: [
					{
						name: 'twitter:image',
						content: 'https://res.cloudinary.com/dk8pow3el/image/upload/v1680811450/portfolio_site_preview_yjdgbv.png'
					},
					{
						name: 'twitter:title',
						content: 'Yimnaidev Web development portfolio'
					},
					{
						name: 'twitter:description',
						content: 'Check out my portfolio site built with astro.build. I hope you enjoy it!'
					}
				]
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/yimla_logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Yimnaidev Web development portfolio">
  		<meta property="og:description" content="Check out my portfolio site built with astro.build. I hope you enjoy it!">
  		<meta property="og:image" content="https://res.cloudinary.com/dk8pow3el/image/upload/v1680811450/portfolio_site_preview_yjdgbv.png">
  		<meta property="og:url" content="https://portfolio.yimla.site">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
